* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background:linear-gradient(to bottom, #1d4350, #a43931);
    background-attachment: fixed;
    color: white;
    width: 100%;
}

h1{
    text-align: center;
     padding:20px;
    font-size: 40px;
    width: 100%;
}

h2{
    text-align: 20px;
    padding:20px;
    width:100%;
    font-size: 30px;
    text-align: center;

}

p{
    text-align: 20px;
    padding: 20px;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.container{
    text-align: center;
    justify-content: center;
   
}

.container button{
    margin: 10px;
    padding: 20px;
    width: 80%;
    font-size: 20px;

}
   
.box{
    text-align: center;
    justify-content: center;
    display: block;
}

#beginButton{
    padding: 8px;
    margin: 10px;
    font-size: 20px;
}

#myTimer{
    margin: 10px;
    padding:10px;
    text-align: left;

}