* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background:linear-gradient(to bottom, #1d4350, #a43931);
    background-attachment: fixed;
    color: white;
    width: 100%;
}

h1{
    text-align: center;
     padding:20px;
    font-size: 20px;
    width: 100%;
}

h2{
    text-align: 20px;
    padding:20px;
    width:100%;
    font-size: 30px;
    text-align: center;

}

p{
    text-align: 20px;
    padding: 20px;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.button{
    margin: 20px;
    padding: 10px;
    border: 10px;
}