    /* the css for the whole page */
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

    /* color and padding for the body */
body{
    background:linear-gradient(to bottom, #1d4350, #a43931);
    background-attachment: fixed;
    color: white;
    width: 100%;
    padding: 20px;
}

    /* font size and color for the game name */
h1{
    text-align: center;
     padding:20px;
    font-size: 40px;
    width: 100%;
}

    /* my css for the questions */
h2{
    text-align: 20px;
    padding:20px;
    width:100%;
    font-size: 30px;
    text-align: center;

}

    the p was gonna be for the questions, but didnt end up using them

* p{
    text-align: 20px;
    padding: 20px;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

    /* my css for the conatiner, align, color, and size */
.container{
    text-align: center;
    justify-content: center;
    display: none;  
    border: 3px solid white;
    border-radius: 30px;
}

    /* my css for the qeustion option buttons */
.container button{
    margin: 10px;
    padding: 20px;
    width: 80%;
    font-size: 20px;
    cursor: pointer;
}
   
    /* my css to center my questions */
.box{
    text-align: center;
    justify-content: center;
    display: block;
}

    /* my css for the begin button, align it to the center of the page */
#beginButton{
    padding: 8px;
    margin: 10px;
    font-size: 20px;
    align-content: center;
    cursor: pointer;
    /* display: block;  */
}

    /* timer css so it can be placed where the start button is as soon as the game begins */
#myTimer{
    margin: 10px;
    padding:10px;
    text-align: center;

}